@page
@model WishlistModel
@{
}

<h2>Synk</h2>

<h4>Synk wishlist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
           
            
            
            <div class="form-group">
                <input type="submit" value="Synk" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>