@page
@model Web.WishList.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="item.id" class="control-label"></label>
                <input asp-for="item.id" class="form-control" />
                <span asp-validation-for="item.id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="item.country" class="control-label"></label>
                <input asp-for="item.country" class="form-control" />
                <span asp-validation-for="item.country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="item.name" class="control-label"></label>
                <input asp-for="item.name" class="form-control" />
                <span asp-validation-for="item.name" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="item.type" class="control-label"></label>
                <input asp-for="item.type" class="form-control" />
                <span asp-validation-for="item.type" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

