@page
@model LoginModel
@{

}


<script src= "https://code.jquery.com/jquery-3.2.1.min.js" ></script>
<script type="text/javascript">
@*var someValue = @ViewBag.someValue

$(function(){
alert(@ViewBag.someValue);
}*@

@*$(document).ready(function () {
    //alert('tt');
    alert('@ViewData["someValue"]');
});*@

</script>

<h2>Index1</h2>
<h4>LoginDto</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="item.Email" class="control-label"></label>
                <input asp-for="item.Email" class="form-control" />
                <span asp-validation-for="item.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="item.Password" class="control-label"></label>
                <input asp-for="item.Password" class="form-control" type="password" />
                <span asp-validation-for="item.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

